{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <title>Pet Site</title>
  </head>
  <body>

  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
   <p><input type="file" name="f">
   <input type="submit" value="Отправить"></p>
  </form>
    {% block content %}
    {% endblock %}
  </body>

</html>
