<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet"/>
	<title>Tyre task</title>
</head>

<div class="container">
	<div class="row">
		<div class="col">
			<a href="{% url 'start' %}" class="navbar-brand">Start Page</a></div>
		<div class="col">
			<a href="{% url 'list' %}" class="navbar-brand">Show Data</a></div>
	</div>
</div>
<p></p>
<body>
<div class="container">
	<div class="row">
		<form enctype="multipart/form-data" method="post" action="{% url 'result' %}">
            {% csrf_token %}
            <p><input type="file" name="upload">
            <input type="submit" value="Отправить"></p>
		</form>
	</div>

    {% block content %}

    {% endblock %}
</body>
</html>
