{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <title>Tyre task</title>
  </head>
  <body>
<!-- <form method="post" action="create/">-->
<!--    {% csrf_token %}-->
<!--   <p><label>Производитель</label><br>-->
<!--     <input type="text" name="vendor" /></p>-->
<!--   <p><label>Модель</label><br>-->
<!--     <input type="text" name="model" /></p>-->
<!--   <p><label>Цена</label><br>-->
<!--     <input type="number" name="price" /></p>-->
<!--   <input type="submit" value="Сохранить" >-->
<!--  </form>-->

  <form enctype="multipart/form-data" method="post" action="create/">
    {% csrf_token %}
   <p><input type="file" name="f">
   <input type="submit" value="Отправить"></p>
  </form>
    {% block content %}
    {% endblock %}
  </body>

</html>
